/* RESET RULES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* LAYOUT */
.container {
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-20 {
  width: 20%;
}

.grow-1 {
  flex-grow: 1;
}

.grow-4 {
  flex-grow: 4;
}

/* HEADER */

.main-header {
  padding: 20px 80px;
  background-color: rgb(176, 182, 182);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .link {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar .login {
  text-align: end;
}

/* MAIN */

.section-1 {
  background-color: rgb(26, 26, 191);
  min-height: 300px;
  display: flex;
  align-content: center;
}

.section-1 .container {
  display: flex;
  width: 700px;
  align-self: center;
  justify-content: center;
}

.section-1 .row {
  min-height: 250px;
  background-color: rgb(255, 147, 242);
}

.section-2 {
  min-height: 350px;
}

.section-2 .row {
}

/* DEBUG RULES */

.debug .container {
  border: 2px dotted black;
}

.debug .row {
  border: 2px dotted rgb(245, 0, 0);
  flex-grow: 1;
}

.debug .col {
  border: 2px dotted rgb(0, 145, 255);
}
